In [ ]:
# Instalar pycountry la primera vez. Tened en cuenta pip3. Desanotar.
# !pip install pycountry

In [1]:
import os
import pandas as pd
import pycountry

In [2]:
CWD = os.getcwd()
DATA_PATH = r'Users\andre\OneDrive\Documentos\BOOTCAMP\Capstone Project\agenda2030\data'
ruta_data = os.path.join(CWD, 'data')

In [4]:
archivos_excel = [archivo for archivo in os.listdir(ruta_data) if archivo.endswith('.xlsx')]
lista_dataframes = []
# Iterar sobre cada archivo y cargarlo como DataFrame
for archivo in archivos_excel:
    nombre_variable = os.path.splitext(archivo)[0]  # Utiliza el nombre del archivo (sin extensión) como nombre de la variable
    ruta_completa = os.path.join(ruta_data, archivo)

    
    # Asigna el DataFrame directamente a una variable con el mismo nombre que el archivo
    globals()[nombre_variable] = pd.read_excel(ruta_completa)

    # Creamos una lista con todos los dataframes
    lista_dataframes.append(globals()[nombre_variable])
    
    # Añade las columnas año y sexo
    año, sexo = nombre_variable.split('_')[1:]
    globals()[nombre_variable]['Año'] = año
    globals()[nombre_variable]['Sexo'] = sexo

#Creamos el dataframe con todos los datos
df = pd.concat(lista_dataframes, ignore_index=True)

In [42]:
df['Año'] = df['Año'].astype('int')

In [10]:
import pycountry 
def get_country_code(columna): #Creamos una función para conseguir el código de dos letras de cada país
    country_info = pycountry.countries.get(name=columna)
    if country_info:
        return country_info.alpha_2
    else:
        return 'EU'

In [13]:
df['Pais_code'] = df['Geographic region\Individual indicators used to compute the Gender Equality Index'].apply(get_country_code)
#Llamamos a la función pasándole la columna donde está el país

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\andre\AppData\Local\Temp\ipykernel_20248\2796709633.py:1: SyntaxWarning: invalid escape sequence '\I'
  df['Pais_code'] = df['Geographic region\Individual indicators used to compute the Gender Equality Index'].apply(get_country_code)

In [37]:
GEI_PATH = r'C:\Users\andre\OneDrive\Documentos\BOOTCAMP\Capstone Project\agenda2030\data_gei'
df_gei = pd.read_excel(os.path.join(GEI_PATH, 'gender-equality-index.xlsx'))

In [52]:
# Cambiamos los valores EL asignados para Grecia, por GR
df_gei['Country'] = df_gei['Country'].replace('EL', 'GR')

In [53]:
# Añadimos la columna GEI al dataframe
df1 = pd.merge(df, df_gei, left_on=['Pais_code', 'Año'], right_on=['Country', 'Index year'], how='left')

In [57]:
df1.to_excel(r'C:\Users\andre\OneDrive\Documentos\BOOTCAMP\Capstone Project\agenda2030\df1.xlsx', index=False)

In [56]:
df1.head()

,Geographic region\Individual indicators used to compute the Gender Equality Index,"FTE employment rate (%, 15+ population)","Duration of working life (years, 15+ population)","Employed people in Education, Human Health and Social Work activities (%, 15+ employed)","Ability to take an hour or two off during working hours to take care of personal or family matters (%, 15+ workers)","Career Prospects Index (points, 0-100)","Mean monthly earnings (PPS, working population)","Mean equivalised net income (PPS, 16+ population)","At-risk-of-poverty rate (%, 16+ population)",S20/S80 income quintile share (16+ population),...,"People who don’t smoke and are not involved in harmful drinking (%, 16+ population)","People doing physical activities and/or consuming fruits and vegetables (%, 16+ population)","Population with unmet needs for medical examination (%, 16+ population)","People with unmet needs for dental examination (%, 16+ population)",Año,Sexo,Pais_code,Index year,Country,Gender Equality Index
0,Austria,62,39,8,36,65,2574,23107,12,23,...,53,55,3,6,2013,men,AT,2013,AT,58.669621
1,Belgium,54,35,11,33,66,2835,19734,13,25,...,50,36,1,3,2013,men,BE,2013,BE,69.255331
2,Bulgaria,51,33,4,31,62,827,7027,18,19,...,47,18,14,15,2013,men,BG,2013,BG,55.038562
3,Cyprus,65,41,6,18,51,2503,21851,14,22,...,54,39,6,14,2013,men,CY,2013,CY,48.986893
4,Czechia,63,37,5,11,65,1438,11357,7,30,...,54,37,4,5,2013,men,CZ,2013,CZ,55.569285

In [ ]:
# Eliminamos columnas AÑO, PAIS_CODE
# Modificar nombre columnas con un diccionario